.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: #fff;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.15s;
}

.menuItems {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

.menuItems li {
  display: block;
  padding: 0 20px;
}

.statusList {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #cecece;
}

.statusList li {
  display: block;
  padding: 0 20px;
  font-size: 1.2em;
  font-weight: normal;
}

.statusList li.active {
  font-weight: bold;
}
